body{
    font-family: 'Open Sans', sans-serif;
    background-color: #01090c;
    color: #bfc1c8;
}


.navbar .logo .logo-type{ 

    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}

.navbar .logo .logo-type h1 
 {
    margin-bottom: 5px;
    font-size: 1.1428571429em;
    color: white;
}
.navbar .logo .logo-type p {
    font-size: 0.7142857143em;
    display: block;
    color: #bfc1c8;
}

.navbar-nav .nav-link{
    
    border: 2px solid transparent;
    border-radius: 30px;
    color: white;
    transition: 0.3s ease;
    font-weight: 300;
    font-size: 14px;

}
.navbar-nav li a:hover{
    border-color: #0e3c4d;
    color:  #124253;
}
.navbar-nav .nav-link.active{
   border:2px solid  #0e3c4d;
   color:  #124253;
}
/* home */
 .home{
    background-image: url(./photo-1486406146926-c627a92ad1ab.avif);
    background-size: cover;
    padding: 70px 0;
   
}
 .find-location {
    position: relative;
    margin-bottom: 70px;
}
.find-location input[type="text"] {
    width: 100%;
    padding: 15px  20px 20px;
    background: #1e202b;
    color: white;
 
}

form input{
    outline: none;
    border: none;
    border-radius: 30px;

}
form input[type="button"]{
    border: none;
    background: #009ad8;
    padding: 10px 10px;
    border-radius: 30px;
    color: white;
 
}
.find-location input[type="button"] {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    padding: 0 40px;
} 


/*home  */
.forecast , .today-forecast{
    background: #323544;
    border-radius: 10px;
  
}

  .forecast .forecast-header {
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    font-weight: 400;
}
 .today-forecast .forecast-header .day {
    float: left;
}
 .today-forecast .forecast-header .date {
    float: right;
}
 .today-forecast .forecast-header:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0;
}
 .today-forecast .forecast-content {
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
}
 .forecast .forecast-content {
    padding: 50px 20px 10px;
    text-align: center;
}
 .today-forecast .location {
    font-size: 18px;
    font-size: 1.2857142857em;
    font-weight: 400;
}
 .forecast .forecast-content .degree {
    font-size: 24px;
    font-size: 1.7142857143em;
    color: white;
    font-weight: 700;
} 
 .today-forecast .degree .num {
   
    font-size: 70px;
    padding-right: 30px;
}
 .today-forecast .degree .num,  .today-forecast .degree .forecast-icon {
    display: inline-block;
    vertical-align: middle;
}
sup {
    top: -0.5em;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

 .forecast .forecast-content .forecast-icon {
   padding-bottom: 20px;
}
 .forecast .forecast-icon {
    height: 50px;
}
.custom {
    color: #009ad8;
   padding: 20px 0;
}

 
/*  */
 .site-footer { 
 
    padding: 50px 0;
}
.site-footer .subscribe-form {
    position: relative;
    margin-bottom: 30px;
}
.site-footer .subscribe-form input[type="text"] {
    padding: 15px  20px;
    background: #1e202b;
    width: 100%;
    color: white;
} 
 .site-footer .subscribe-form input[type="submit"] {
     position: absolute;  
     right: 5px;
    top: 5px;
    bottom: 5px;
}
.button, form input[type="submit"], form input[type="button"], form button, form input[type="reset"] {
    border: none;
    background: #009ad8;
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
}
.site-footer .social-links a  {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    background: #1e202b;
    color: #009ad8;
    text-align: center;
    line-height: 2;
    
    transition: 0.3s ease;
    font-size: 20px;
    font-size: 1.4285714286em;
}
.site-footer .social-links a:hover {
    background: #009ad8;
    color: white;
}
.col-md-offset-1 {
    margin-left: 8.3333333333%;
} 
.col-md-8{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
} 